---
layout: default
locales:
  es:
    title: Gracias
    permalink: gracias/
    description: '¡Gracias por contactarte con nosotres!'
  en:
    title: Thanks
    permalink: thanks/
    description: Thanks for contacting us!
---


{% assign i18n = site.data[site.lang] %}

<section id="{{ i18n.gracias.id }}" class="hero is-fullheight">
  {% include menu.html %}

  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{ i18n.gracias.title }}</h1>

      {{ i18n.gracias.content | markdown }}
    </div>
  </div>

  {% include footer.html %}
  {% include corners.html %}
</section>
