---
permalink: redirector.html
---
<!DOCTYPE html>
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
  <head>
    <meta charset="UTF-8">
    <base href="{% base %}" />
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta name="theme-color" content="white"/>
    <meta name="color-scheme" content="light"/>

    <meta http-equiv="refresh" content="0;url={{ site.default_locale }}/" />

    <title>{{ site.title }}</title>
    <link rel='preload' as='style' href='{{ site.default_locale }}/{{ 'assets/css/styles.css' | asset }}'/>
    <link rel="manifest" href="{{ site.default_locale }}/manifest.webmanifest">

    <link href='{{ site.default_locale }}/{{ 'assets/css/styles.css' | asset }}' rel='stylesheet'>

    {% seo %}
  </head>

  <body>
    <section class="section">
      <div class="container is-flex space-between is-fullheight">
        <div class="columns is-centered">
          <div class="column is-one-third">
            {% include sutty_color.svg %}

            {% for locale in site.locales %}
              <h1><a href="{{ locale }}/">{{ site.data[locale].locale }}</a></h1>
            {% endfor %}
          </div>
        </div>
        {% include footer.html %}
      </div>
    </section>
  </body>
</html>
