{%- assign name = include.field[0] -%}
{%- assign id = include.field[1].id | default: name -%}
{%- assign label = include.field[1].label[site.lang] -%}
{%- assign help = include.field[1].help[site.lang] -%}
{%- assign autocomplete = include.field[1].autocomplete -%}

<div class="field">
  <div class="control">
    <label class="label" for="{{ id }}">
      {{ label }}
      {% if include.field[1].required %}*{% endif %}
    </label>

    <textarea
      {% if help %}
        aria-describedby="help-{{ id }}"
      {% endif %}
      {% if include.field[1].required %}
        required
      {% endif %}
      {% if autocomplete %}
        autocomplete="{{ autocomplete }}"
      {% endif %}
      class="textarea"
      name="{{ name }}"
      id="{{ id }}"></textarea>

    {%- if .help -%}
      <small id="help-{{ id }}" class="form-text">
        {{ help }}
      </small>
    {%- endif -%}
  </div>
</div>
