.white-fg {
  color: $white !important;
}

.white-bg {
  background-color: $white;
}

.black-fg {
  color: $black !important;
}

.black-bg {
  background-color: $black;
}

.magenta-fg {
  color: $magenta !important;
}

.magenta-bg {
  background-color: $magenta;
}

.cyan-fg {
  color: $cyan !important;
}

.cyan-bg {
  background-color: $cyan;
}

// Genera el color contrario del fondo
//
// XXX: No funciona con objetos flotantes
.anti-bg {
  mix-blend-mode: difference;
}

a { color: $magenta; }
