/* Generar los símbolos gigantes */
.is-symbol {
  font-size: 5rem;
  font-family: monospace;
}

.is-monospace {
  font-family: monospace !important;
}

.is-fullheight {
  min-height: calc(100vh - #{$menu-height});
}

$positions: top, bottom, left, right;

@each $position in $positions {
  .is-fixed-#{$position} {
    position: fixed;
    #{$position}: 0;
  }
}

.is-spread-horizontally {
  justify-content: space-between;
}

/* https://stackoverflow.com/a/5409373 */
.is-flipped-horizontally {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  display: inline-block;
}

.fix-bottom-margins {
  margin-bottom: -30px;
}

.has-border-bottom {
  border-bottom: 1px $black solid;
}

.has-border-left-on-hover {
  padding-left: 1rem;
  border-left: 5px solid $white;
  transition: border-left 1s;

  &:focus,
  &:hover {
    border-left: 5px solid $cyan;
  }
}

.is-responsive {
  min-height: 2.25em;
  height: auto;
  white-space: normal;
}
