// menor a tablet
@media screen and (max-width: 767px) {
  body {
    // El alto del menú
    padding-top: 52px;
  }

  .navbar {
    &.is-transparent {
      background-color: $white;
    }
  }

  /* En responsive ver solo un menú */
  section {
    .navbar {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    /* Cancelar .is-fixed-top */
    position: relative !important;
  }

  body {
    & > .corner,
    & > .navbar {
      display: none;
    }
  }

  section {
    .corner {
      position: absolute;

      @each $side in left right {
        &.is-fixed-#{$side} {
          #{$side}: 10px;
        }
      }
    }
  }
}
