<!DOCTYPE html>
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
  <head>
    <meta charset="UTF-8">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta name="theme-color" content="white"/>
    <meta name="color-scheme" content="light"/>

    <link rel='preload' as='style' href='{{ site.url }}/{{ 'assets/css/styles.css' | asset }}'/>
    <link rel="manifest" href="manifest.webmanifest">

    <link href='{{ site.url }}/{{ 'assets/css/styles.css' | asset }}' rel='stylesheet'>
    <script defer type="text/javascript" src="{{ site.url }}/{{ 'assets/js/sutty.js' | asset }}"></script>
    <script defer type="text/javascript" src="{{ site.url }}/assets/js/client_side_i18n.js"></script>

    {% seo %}
    {% feed_meta %}

    <link rel="webmention" href="https://webmention.io/sutty.nl/webmention" />
    <link rel="pingback" href="https://webmention.io/sutty.nl/xmlrpc" />
  </head>

  <body>
    {{ content }}
  </body>
</html>
