<!DOCTYPE html>
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
  <head>
    <meta charset="UTF-8">
    <base href="{% base %}" />
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta name="theme-color" content="white"/>
    <meta name="color-scheme" content="light"/>

    {% comment %}
      TODO Generar un script que encuentre los recursos a
      precargar... o al menos los podamos especificar en la
      configuracion -->
    {% endcomment %}
    <link rel='preload' as='style' href='{{ 'assets/css/styles.css' | asset }}'/>
    <link rel="manifest" href="manifest.webmanifest">

    <link href='{{ 'assets/css/styles.css' | asset }}' rel='stylesheet'>
    <script defer type="text/javascript" src="{{ 'assets/js/sutty.js' | asset }}"></script>

    {% seo %}
    {% feed_meta %}

    <link rel="webmention" href="https://webmention.io/sutty.nl/webmention" />
    <link rel="pingback" href="https://webmention.io/sutty.nl/xmlrpc" />
  </head>

  <body>
    {% include menu.html %}

    {{ content }}
  </body>
</html>
